/* styling for about.html page */

#blog_text h2{
    color: rgb(253, 252, 252);
    font-size: 2em;
    /* font-weight: 00px; */
  }
  
  #blog_text p{
    color: rgb(245, 233, 233);
    font-size: 1em;
    font-family: 'Noto Serif', serif;
  }
  
  #btn1{
    margin: 10px 25px 10px 180px;
    /* margin: 0 auto; */
    text-decoration: none;
  }
  #btn1:hover{
    background-color: rgb(87, 214, 193);
  }
  
  .about-section{
    background-color: #171717;
  }
  
  /* <!-- Our Projects  --> */
  
  .projects{
    background-color: #171717;
  }
  
  .projects h2{
    color:rgb(253, 252, 252);
    /* margin: 0 auto; */
    /* text-align: center; */
    text-decoration: underline;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 0px;
    text-align: center;
  }
  
  .projects img{
    height: 200px;
  display: block;
  margin: auto;
  }
  .card h4{
    /* margin: 20px; */
    text-align: center;
    font-size: 1.3em;
    /* font-weight: 500px; */
  }
   .carded .card { 
    background-color: rgb(248, 244, 244);
    margin: 50px 15px 0px 0px;
    /* padding: 10px; */
    height: 360px;
    border-radius: 10%;
  
  } 
  .carded{
    margin-top: 25px;
  }
  
  .card{
    background-color: #171717;
  }
  
  .carded .card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    z-index: 3;
    border-color: #ff0000 !important;
  }
  hr{
    background: #171717;
  }