.h h3{
    text-align: center;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 3rem;
    font-weight: 500;
    text-decoration: underline;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-underline-position: under;
    /* text-decoration-style:wavy ; */
    
}

.Offer h2{
    text-align: center;
    color: #ff0505;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    background: rgb(230, 230, 28);
    font-size: 3.1rem;
    font-weight: 600;
    
}
.type{
    color: #faf5f5;
    font-weight: 700;
    letter-spacing: 22px;
    font-size: 500px;

    text-align: center;
}

.cards .card{
    background: rgb(253, 253, 253);
}

.card h1{
    text-align: center;
    color:black;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 10px 10px;
}

.pricing_cards .card{
    min-height: 350px;
    min-width: 250px;
    background-color: #ffffff;
    align-items: center;
    border-radius: 30px;
    margin: 30px auto;

   
}
.card p{
    overflow-wrap: inherit;
    color: black;
    align-self: center;
    font-size:1.2rem ;
    margin:20px 40px 40px 40px ;
    font-weight: normal;
}

.pricing_cards .card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    z-index: 3;
    border-color: #ff0000 !important;
    background: #FFD700 !important;
    
}
.pricing_cards .card:hover .cover{

    transform: scale(1.1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    z-index: 3;
    border-color: #ff0000 !important;
    background: #0da2f8 !important;
}


.cover{
    background-color: blue;
    /* width: max-content; */
    border: 2px ;
    border-radius: 30px;
    min-height:50px ;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 265px;
    align-content: center;
    /* max-width: 260px; */

}
.cover h3{
    text-align: center;
    padding: 10px 10px;
    color: rgb(72, 248, 189);
    font-weight: 500;
}

.card-d{
    margin-top: 100px;
}
.black-card{
    min-height: fit-content;
}


/* Styling For Offer Section  */

.offer{
    margin-top:150px ;
}