.card
{
    background-color: whitesmoke;
    margin-top: 25px;
    border-radius: 20px;
}
.card h1{
    text-align: center;
    font-family: 'Anek Telugu', sans-serif;
    text-decoration: underline;
    font-weight: 600;
}
.card h3{
    text-align: center;
    font-family: 'Anek Telugu', sans-serif;
    font-weight: 500;
    
}
.main_content{
    background-color: #171717;
}

.card p{
    font-family: 'Noto Serif', serif;
    text-align: center;
    font-weight: 550;
    font-size: 15px;
    padding-top: 25px;

}
body{
    background-color: #171717;
}